<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <a href="/View-Asset">View Assets</a>
    <a href="/Reg-Asset">Register Assets</a>
    <a href="/Edit-Asset">Edit Assets</a>
</head>
<body>
    {{{ body }}}
</body>
</html>
