<h1>Edit Asset</h1>

<!-- SECTION FOR UPDATING EXISTING ASSETS -->

<section class="update">
    <h3>Update Assets</h3>
    <form action="/update" method="post">
        <div class="input">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id">
            <div class="input">
                <label for="AssetID">AssetID</label>
                <input type="text" class="form-control" id="AssetID" name="AssetID">
            </div>
            <div class="input">
                <label for="Serial No">SerialNo</label>
                <input type="text" class="form-control" id="SerialNo" name="SerialNo">
            </div>
            <div class="input">
                <label for="Media">Media</label>
                <input type="text" class="form-control" id="Media" name="Media">
            </div>
            <div class="input">
                <label for="Copy No">CopyNo</label>
                <input type="text" class="form-control" id="CopyNo" name="CopyNo">
            </div>
            <div class="input">
                <label for="Location">Location</label>
                <input type="text" class="form-control" id="Location" name="Location">
            </div>
            <div class="input">
                <label for="Description">Description</label>
                <input type="text" class="form-control" id="Description" name="Description">
            </div>
            <div class="input">
                <label for="Registered By">RegisteredBy</label>
                <input type="text" class="form-control" id="RegisteredBy" name="RegisteredBy">
            </div>
            <div class="input">
                <label for="Registered Date">RegisteredDate</label>
                <input type="text" class="form-control" id="RegisteredDate" name="RegisteredDate">
            </div>
            <div class="input">
                <label for="Protective Marking">ProtectiveMarking</label>
                <input type="text" class="form-control" id="ProtectiveMarking" name="ProtectiveMarking">
            </div>
            <div class="input">
                <label for="Status">Status</label>
                <input type="text" class="form-control" id="Status" name="Status">
            </div>
        </div>
        <br>
        <button type="submit" class="btn btn-default" >UPDATE</button>
    </form>
</section>

<!-- SECTION FOR DELETING EXISTING ASSETS -->

<section class="delete">
    <h3>Delete Data</h3>
    <form action="/delete" method="post">
        <div class="input">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id">
        </div>
        <br>
        <button type="submit" class="btn btn-default">DELETE</button>
    </form>
</section>