<h1>Edit Asset</h1>

<!-- SECTION FOR UPDATING EXISTING ASSETS -->
<br>
<section class="update">
    <h3>Update Assets</h3>
    <br>
    <form action="/update" method="post">
        <div class="input">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id">
            <div class="input">
                <label for="AssetID">AssetID</label>
                <input type="text" class="form-control" id="AssetID" name="AssetID">
            </div>
            <div class="input">
                <label for="Serial No">SerialNo</label>
                <input type="text" class="form-control" id="SerialNo" name="SerialNo">
            </div>
            <div class="input">
                <label for="Media">Media</label>
                <select class="form-control" id="Media" name="Media">
                    <option>CD</option>
                    <option>DVD</option>
                    <option>Paper</option>
                    <option>HDD</option>
                </select>
            </div>
            <div class="input">
                <label for="Copy No">CopyNo</label>
                <input type="text" class="form-control" id="CopyNo" name="CopyNo">
            </div>
            <div class="input">
                <label for="Location">Location</label>
                <select class="form-control" id="Location" name="Location">
                    <option>250 Brook Drive Reading</option>
                    <option>9 Queens Road Aberdeen</option>
                    <option>Unit 1240 Lansdowne Court Gloucester </option>
                </select>
            </div>
            <div class="input">
                <label for="Description">Description</label>
                <input type="text" class="form-control" id="Description" name="Description">
            </div>
            <div class="input">
                <label for="Registered By">RegisteredBy</label>
                <input type="text" class="form-control" id="RegisteredBy" name="RegisteredBy">
            </div>
            <div class="input">
                <label for="Registered Date">Registered Date</label>
                <div class="input">
                    <input class="form-control" type="date" value="2011-08-19" id="RegisteredDate" name="RegisteredDate">
                </div>
            </div>
            <div class="input">
                <label for="Protective Marking">Protective Marking</label>
                <select class="form-control" id="Protective Marking" name="Protective Marking">
                    <option>OFFICIAL</option>
                    <option>OFFICIAL SENSITIVE</option>
                    <option>SECRET</option>
                    <option>TOP SECRET</option>
                </select>
            </div>
            <div class="input">
                <label for="Status">Status</label>
                <select class="form-control" id="Status" name="Status">
                    <option>ACTIVE</option>
                    <option>TRANSFERRED</option>
                    <option>AWAITING DESTRUCTION</option>
                    <option>DESTROYED</option>
                </select>
            </div>
        <br>
        <button type="submit" class="btn btn-default" >UPDATE</button>
    </form>
</section>

<!-- SECTION FOR DELETING EXISTING ASSETS -->
<hr>
<section class="delete">
    <h3>Delete Data</h3>
    <br>
    <form action="/delete" method="post">
        <div class="input">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id">
        </div>
        <br>
        <button type="submit" class="btn btn-default">DELETE</button>
    </form>
</section>