<h1>editAsset</h1>

<a href="/View-Asset">View Assets</a>
<a href="/Reg-Asset">Register Assets</a>
<a href="/Edit-Asset">Edit Assets</a>
<!-- SECTION FOR INSERTING EXISTING ASSETS -->

<!--<section class="insert">
    <h3>Insert Data</h3>
    <form action="/insert" method="post">
        <div class="input">
            <label for="AssetID">AssetID</label>
            <input type="text" id="AssetID" name="AssetID">
        </div>
        <div class="input">
            <label for="Serial No">SerialNo</label>
            <input type="text" id="SerialNo" name="SerialNo">
        </div>
        <div class="input">
            <label for="Media">Media</label>
            <input type="text" id="Media" name="Media">
        </div>
        <div class="input">
            <label for="Copy No">CopyNo</label>
            <input type="text" id="CopyNo" name="CopyNo">
        </div>
        <div class="input">
            <label for="Location">Location</label>
            <input type="text" id="Location" name="Location">
        </div>
        <div class="input">
            <label for="Description">Description</label>
            <input type="text" id="Description" name="Description">
        </div>
        <div class="input">
            <label for="Registered By">RegisteredBy</label>
            <input type="text" id="RegisteredBy" name="RegisteredBy">
        </div>
        <div class="input">
            <label for="Registered Date">RegisteredDate</label>
            <input type="text" id="RegisteredDate" name="RegisteredDate">
        </div>
        <div class="input">
            <label for="Protective Marking">ProtectiveMarking</label>
            <input type="text" id="ProtectiveMarking" name="ProtectiveMarking">
        </div>
        <div class="input">
            <label for="Status">Status</label>
            <input type="text" id="Status" name="Status">
        </div>
        <button type="submit">INSERT</button>
    </form>
</section>-->

<!-- SECTION FOR RETRIEVING EXISTING ASSETS FROM 'ASSETS' COLLECTION -->

<!-- SECTION FOR UPDATING EXISTING ASSETS -->

<section class="update">
    <h3>Update Data</h3>
    <form action="/update" method="post">
        <div class="input">
            <label for="id">ID</label>
            <input type="text" id="id" name="id">
            <div class="input">
                <label for="AssetID">AssetID</label>
                <input type="text" id="AssetID" name="AssetID">
            </div>
            <div class="input">
                <label for="Serial No">SerialNo</label>
                <input type="text" id="SerialNo" name="SerialNo">
            </div>
            <div class="input">
                <label for="Media">Media</label>
                <input type="text" id="Media" name="Media">
            </div>
            <div class="input">
                <label for="Copy No">CopyNo</label>
                <input type="text" id="CopyNo" name="CopyNo">
            </div>
            <div class="input">
                <label for="Location">Location</label>
                <input type="text" id="Location" name="Location">
            </div>
            <div class="input">
                <label for="Description">Description</label>
                <input type="text" id="Description" name="Description">
            </div>
            <div class="input">
                <label for="Registered By">RegisteredBy</label>
                <input type="text" id="RegisteredBy" name="RegisteredBy">
            </div>
            <div class="input">
                <label for="Registered Date">RegisteredDate</label>
                <input type="text" id="RegisteredDate" name="RegisteredDate">
            </div>
            <div class="input">
                <label for="Protective Marking">ProtectiveMarking</label>
                <input type="text" id="ProtectiveMarking" name="ProtectiveMarking">
            </div>
            <div class="input">
                <label for="Status">Status</label>
                <input type="text" id="Status" name="Status">
            </div>
        </div>
        <button type="submit">UPDATE</button>
    </form>
</section>
</section>

<!-- SECTION FOR DELETING EXISTING ASSETS -->

<section class="delete">
    <h3>Delete Data</h3>
    <form action="/delete" method="post">
        <div class="input">
            <label for="id">ID</label>
            <input type="text" id="id" name="id">
        </div>
        <button type="submit">DELETE</button>
    </form>
</section>